@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-200 antialiased selection:bg-accent/30 selection:text-white;
    background-color: #09090b; /* Fallback */
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .bg-grid-white {
    background-image: radial-gradient(circle at center, #27272a 1px, transparent 1px);
    background-size: 24px 24px;
  }

  .glass-card {
    @apply bg-card-bg border border-card-border shadow-sm hover:border-accent/40 transition-all duration-300;
  }

  .text-gradient {
    @apply text-white;
  }
}